@media screen and (min-width: 375px) {

    .header {
        background-color: #28293E;
    }

    .header__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 330px;
        margin: 0 auto;
    }

    .header__nav {
        display: flex;
        padding-top: 10px;
    }

    .nav__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .logo__img {
        width: 46px;
        height: 44px;
    }

    .logo__company {
        font-size: 24px;
        padding-left: 16px;
    }

    .nav__navigation {
        display: none;
    }

    .nav__contact {
        display: none;
    }

    .header__title {
        padding-top: 80px;
        font-size: 56px;

    }

    .header__about {
        text-align: center;
        padding: 22px 0 80px 0;
        font-size: 16px;
        line-height: 32px;
        font-weight: 300;
        color: #B1B1B1;
    }


}




@media screen and (min-width: 1040px) {

    .header__content {
        width: 1000px;
    }

    .header__nav {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;

    }

    .nav__navigation {
        display: flex;
        justify-content: space-around;
        width: 522px;
        font-size: 16px;
    }

    .navigation__about{
        cursor: pointer;
    }

    .navigation__services{
        cursor: pointer;
    }

    .navigation__pricing{
        cursor: pointer;
    }

    .navigation__blog{
        cursor: pointer;
    }

    .nav__contact {
        display: block;
    }

    .contact__button {
        font-size: 14px;
        width: 138px;
        height: 48px;
        background-color: transparent;
        color: white;
        border: 1px solid #676877;
        border-radius: 6px;
        cursor: pointer;
    }

    .header__about {
        width: 570px;
    }

}



@media screen and (min-width: 1440px) {

    .header__content {
        width: 1170px;
    }
}